{% load static %}

<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <title>Locatools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Template Referencia -->
    <!-- https://preview.pichforest.com/dashonic/layouts/layouts-horizontal-dark.html# -->
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- plugin css -->
    <link href={% static 'css/jsvectormap.min.css' %} rel="stylesheet" type="text/css" />

    <!-- Bootstrap Css -->
    <link href={% static 'css/bootstrap.min.css' %} rel="stylesheet" type="text/css" />

    <!-- Icons Css -->
    <link href={% static 'css/icons.min.css' %} rel="stylesheet" type="text/css" />

    <!-- App Css-->
    <link href={% static 'css/app.min.css' %} rel="stylesheet" type="text/css" />

  </head>

  <body data-layout="horizontal" data-layout-mode="dark" data-topbar="dark" data-sidebar="dark">
    {% block content %}{% endblock content %}

    <!-- Right Sidebar -->
    <div class="right-bar">
      <div data-simplebar class="h-100">
        <div class="rightbar-title d-flex align-items-center bg-dark p-3">

          <h5 class="m-0 me-2 text-white">Theme Customizer</h5>

          <a href="javascript:void(0);" class="right-bar-toggle-close ms-auto">
            <i class="mdi mdi-close noti-icon"></i>
          </a>
        </div>

        <!-- Settings -->
        <hr class="m-0" />

        <div class="p-4">
          <h6 class="mb-3">Layout</h6>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="layout"
              id="layout-vertical" value="vertical">
            <label class="form-check-label" for="layout-vertical">Vertical</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="layout"
              id="layout-horizontal" value="horizontal">
            <label class="form-check-label" for="layout-horizontal">Horizontal</label>
          </div>

          <h6 class="mt-4 mb-3">Layout Mode</h6>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="layout-mode"
              id="layout-mode-light" value="light">
            <label class="form-check-label" for="layout-mode-light">Light</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="layout-mode"
              id="layout-mode-dark" value="dark">
            <label class="form-check-label" for="layout-mode-dark">Dark</label>
          </div>

          <h6 class="mt-4 mb-3">Layout Width</h6>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="layout-width"
              id="layout-width-fluid" value="fluid" onchange="document.body.setAttribute('data-layout-size', 'fluid')">
            <label class="form-check-label" for="layout-width-fluid">Fluid</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="layout-width"
              id="layout-width-boxed" value="boxed" onchange="document.body.setAttribute('data-layout-size', 'boxed')">
            <label class="form-check-label" for="layout-width-boxed">Boxed</label>
          </div>

          <h6 class="mt-4 mb-3">Layout Position</h6>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="layout-position"
              id="layout-position-fixed" value="fixed" onchange="document.body.setAttribute('data-layout-scrollable', 'false')">
            <label class="form-check-label" for="layout-position-fixed">Fixed</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="layout-position"
              id="layout-position-scrollable" value="scrollable" onchange="document.body.setAttribute('data-layout-scrollable', 'true')">
            <label class="form-check-label" for="layout-position-scrollable">Scrollable</label>
          </div>

          <h6 class="mt-4 mb-3">Topbar Color</h6>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="topbar-color"
              id="topbar-color-light" value="light" onchange="document.body.setAttribute('data-topbar', 'light')">
            <label class="form-check-label" for="topbar-color-light">Light</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="topbar-color"
              id="topbar-color-dark" value="dark" onchange="document.body.setAttribute('data-topbar', 'dark')">
            <label class="form-check-label" for="topbar-color-dark">Dark</label>
          </div>

          <div id="sidebar-setting">
            <h6 class="mt-4 mb-3 sidebar-setting">Sidebar Size</h6>

            <div class="form-check sidebar-setting">
              <input class="form-check-input" type="radio" name="sidebar-size"
                id="sidebar-size-default" value="default" onchange="document.body.setAttribute('data-sidebar-size', 'lg')">
              <label class="form-check-label" for="sidebar-size-default">Default</label>
            </div>
            <div class="form-check sidebar-setting">
              <input class="form-check-input" type="radio" name="sidebar-size"
                id="sidebar-size-compact" value="compact" onchange="document.body.setAttribute('data-sidebar-size', 'md')">
              <label class="form-check-label" for="sidebar-size-compact">Compact</label>
            </div>
            <div class="form-check sidebar-setting">
              <input class="form-check-input" type="radio" name="sidebar-size"
                id="sidebar-size-small" value="small" onchange="document.body.setAttribute('data-sidebar-size', 'sm')">
              <label class="form-check-label" for="sidebar-size-small">Small (Icon View)</label>
            </div>

            <h6 class="mt-4 mb-3 sidebar-setting">Sidebar Color</h6>

            <div class="form-check sidebar-setting">
              <input class="form-check-input" type="radio" name="sidebar-color"
                id="sidebar-color-light" value="light" onchange="document.body.setAttribute('data-sidebar', 'light')">
              <label class="form-check-label" for="sidebar-color-light">Light</label>
            </div>
            <div class="form-check sidebar-setting">
              <input class="form-check-input" type="radio" name="sidebar-color"
                id="sidebar-color-dark" value="dark" onchange="document.body.setAttribute('data-sidebar', 'dark')">
              <label class="form-check-label" for="sidebar-color-dark">Dark</label>
            </div>
            <div class="form-check sidebar-setting">
              <input class="form-check-input" type="radio" name="sidebar-color"
                id="sidebar-color-brand" value="brand" onchange="document.body.setAttribute('data-sidebar', 'brand')">
              <label class="form-check-label" for="sidebar-color-brand">Brand</label>
            </div>
          </div>

          <h6 class="mt-4 mb-3">Direction</h6>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="layout-direction"
              id="layout-direction-ltr" value="ltr">
            <label class="form-check-label" for="layout-direction-ltr">LTR</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="layout-direction"
              id="layout-direction-rtl" value="rtl">
            <label class="form-check-label" for="layout-direction-rtl">RTL</label>
          </div>

        </div>

      </div> <!-- end slimscroll-menu-->
    </div>
    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    {% block js %}{% endblock js %}
    <!-- JAVASCRIPT -->
    <script src={% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}></script>
    <script src={% static 'libs/metismenujs/metismenujs.min.js' %}></script>
    <script src={% static 'libs/simplebar/simplebar.min.js' %}></script>
    <script src={% static 'libs/feather-icons/feather.min.js' %}></script>

    <!-- apexcharts -->
    <script src={% static 'libs/apexcharts/apexcharts.min.js' %}></script>

    <!-- Vector map-->
    <script src={% static 'libs/jsvectormap/js/jsvectormap.min.js' %}></script>
    <script src={% static 'libs/jsvectormap/maps/world-merc.js' %}></script>

    <script src={% static 'libs/js/pages/dashboard-sales.init.js' %}></script>

    <script src={% static 'js/app.js' %}></script>

  </body>
</html>
