{% extends "base.html" %}

{% block content %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <h2>Orçamentos</h2>
    <div class="row">
      <div class="col-md-12 pb-2">
        <a href="{ url 'orcamento:orcamento_create' %}">
          <button type="button" class="btn btn-success">Cadastrar Orçamento</button>
        </a>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>ID</th>
            <th>Cliente</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr>
              <td>{{ object }}</td>
              <td>{{ object.cliente }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock content %}
