{% extends 'base.html'%}
{% load static %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h4 class="card-title mb-4">{{object_list.id}} - {{object_list.nome}}</h4>
        <div>
        </div>
        <div class="dropdown d-inline">
          <a class="dropdown-toggle text-muted me-3 mb-3 align-middle" href="#" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="icon-sm" data-feather="search"></i><span>Buscar</span>
          </a>

          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0">
            <form class="p-2">
              <div class="search-box">
                <div class="position-relative">
                  <input type="text" name="search" class="form-control rounded bg-light border-0" placeholder="Search..."
                    hx-get="{% url 'orcamento:search' %}" hx-trigger="keyup changed delay:250ms, search"
                    hx-target="#search-results">
                  <i class="bx bx-search font-size-16 search-icon"></i>
                  <span id="search-results"></span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-hover mb-0 align-middle">
          <thead class="bg-light">
            <tr>
              <th class="rounded-start" style="width: 15px;">
                <div class="form-check">
                  <input class="form-check-input font-size-16" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault"> </label>
                </div>
              </th>
              <th>Código</th>
              <th>Nome</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Estoque</th>
              <th>Qnt</th>
              <th>Valor</th>
              <th>Status</th>
            </tr>
            <!-- end tr -->
          </thead>
          <!-- end thead -->
          {% include "hx/orcamento_table.html" %}
        </table><!-- end table -->
      </div>
    </div>
  </div>
{% endblock content %}