asgiref==3.5.2
Django==4.0.4
django-extensions==3.1.5
django-htmx==1.9.0
django-seed==0.3.1
django-widget-tweaks==1.4.12
djhtml==1.5.0
Faker==13.12.0
gunicorn==20.1.0
isort==5.10.1
Pillow==9.1.1
python-dateutil==2.8.2
python-decouple==3.6
six==1.16.0
sqlparse==0.4.2
toposort==1.7
tzdata==2022.1
