{% extends 'base.html'%}
{% load static %}

{% block content %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="row">
      <div class="col-md-12 pb-2">
        <a href={% url 'produto:produto_create' %}>
          <button type="button" class="btn btn-success">Cadastrar Produto</button>
        </a>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Código</th>
            <th>Título</th>
            <th>Categoria</th>
            <th>Marca</th>
            <th>Preço de Compra</th>
            <th>Preço de Locação</th>
            <th>Estoque Mínimo</th>
            <th>Estoque Atual</th>
            <th>Ativo?</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr>
              <td>{{ object.codigo }}</td>
              <td>
                <a href="{{ object.get_absolute_url }}">{{ object.titulo }}</a>
              </td>
              <td>{{ object.categoria }}</td>
              <td>{{ object.marca }}</td>
              <td>{{ object.preco_compra }}</td>
              <td>{{ object.preco_diaria }}</td>
              <td>{{ object.estoque_minimo }}</td>
              <td>{{ object.estoque_atual }}</td>
              <td>{{ object.active|yesno:"Ativo,Bloqueado" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock content %}
