{% extends 'base.html'%}
{% load static %}

{% block content %}

  <div class="card">
    <div class="d-flex bd-highlight">
      <div class="card-body">

        <h4 class="card-title mb-3">
          Produtos
          <a href="{% url 'produto:produto_create' %}">
            <button type="button" class="btn btn-link shadow-none">
              Cadastrar
            </button>
          </a>
          <div class="dropdown d-inline">
            <a class="dropdown-toggle text-muted me-3 mb-3 align-middle" href="#" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <button type="button" class="btn btn-link shadow-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-search icon-sm">
                  <circle cx="11" cy="11" r="8"></circle>
                  <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg><span>Buscar</span>
              </button></a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0">
              <form class="p-2">
                <div class="search-box">
                  <div class="position-relative">

                    <input type="text" name="search" class="form-control rounded bg-light border-0"
                      hx-get="{% url 'produto:produto_items_search' %}"
                      hx-trigger="keyup changed delay:250ms, search"
                      hx-target="#search-results" placeholder="buscando...">

                    <span id="search-results"></span>

                  </div>
                </div>
              </form>
            </div>

          </div>
        </h4>

        <div class="table-responsive">
          <table class="table table-hover mb-0 align-middle">
            <thead class="bg-light">
              <tr>
                <th class="rounded-start" style="width: 15px;">
                  <div class="form-check">
                    <input class="form-check-input font-size-16" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault"> </label>
                  </div>
                </th>
                <th class="text-center">Código</th>
                <th>Titulo</th>
                <th>Categoria</th>
                <th>Marca</th>
                <th>Preço de Compra</th>
                <th>Preço Diária</th>
                <th class="text-center">Estoque Mínimo</th>
                <th class="text-center">Estoque Atual</th>
                <th class="text-center">Ativo</th>
                <th></th>
              </tr>
              <!-- end tr -->
            </thead>
            <!-- end thead -->
            <tbody>
              {% for object in object_list %}
                <tr>
                  <td>
                    <div class="form-check">
                      <input class="form-check-input font-size-16" type="checkbox" value="" id="flexCheckexampleone">
                      <label class="form-check-label" for="flexCheckexampleone">
                      </label>
                    </div>
                  </td>
                  <td class="text-center">{{ object.codigo }}</td>
                  <td>
                    <a href="{{ object.get_absolute_url }}">{{ object.titulo }}</a>
                  </td>
                  <td>{{ object.categoria|default:"---" }}</td>
                  <td>{{ object.marca|default:"---" }}</td>
                  <td>
                    R$ <span style="float: right">{{ object.preco_compra|default:"---" }}</span>
                  </td>
                  <td>
                    R$ <span style="float: right">{{ object.preco_diaria|default:"---" }}</span>
                  </td>
                  <td class="text-center">{{ object.estoque_minimo|default:"---" }}</td>
                  <td class="text-center">{{ object.estoque_atual|default:"---" }}</td>
                  <td>
                    <div class="text-center">
                      {% if object.active %}
                        <i class="mdi mdi-check-circle-outline text-success"></i>
                      {% else %}
                        <i class="mdi mdi-close-circle-outline text-danger"></i>
                      {% endif %}
                    </div>
                  </td>
                  <td style="min-width: 70px">
                    <span>
                      <a href="#"><i class="mdi mdi-pencil text-success me-1"></i></a>
                    </span>
                    <span>
                      <a href="#"><i class="mdi mdi-trash-can text-danger me-1"></i></a>
                    </span>
                  </td>
                </tr>
              {% endfor %}
              <!-- end /tr -->
            </tbody><!-- end tbody -->
          </table><!-- end table -->
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

