{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="card">
  <div class="d-flex bd-highlight">
    <div class="card-body">

      <h4 class="card-title mb-3">
        Produtos
        <a class="dropdown-toggle text-reset mb-auto" href={% url 'produto:produto_create' %} aria-haspopup="true"
          aria-expanded="false">
          <button type="button" class="btn btn-link shadow-none"><span class="fw-semibold">Cadastrar</span></button>
        </a>
        <div class="dropdown d-inline">
          <a class="dropdown-toggle text-muted me-3 mb-3 align-middle" href="#" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <button type="button" class="btn btn-link shadow-none">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-search icon-sm">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
              </svg><span>Buscar</span>
            </button></a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0">
            <form class="p-2">
              <div class="search-box">
                <div class="position-relative">
                          <input type="text" name="search" class="form-control rounded bg-light border-0"
                            hx-get="{% url 'produto:produto_items_search' %}"
                            hx-trigger="keyup changed delay:250ms, search"
                            hx-target="#search-results" placeholder="buscando...">
                          
                          <span id="search-results"></span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </h4>
      
      <div class="table-responsive">
        <table class="table table-hover mb-0 align-middle">
          <thead class="bg-light">
            <tr>
              <th class="rounded-start" style="width: 15px;">
                <div class="form-check">
                  <input class="form-check-input font-size-16" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault"> </label>
                </div>
              </th>
              <th>Código</th>
              <th>Nome</th>
              <th>Razão Social</th>
              <th>Nome Fantasia</th>
              <th>Endereço</th>
              <th>Bairro</th>
              <th>Cidade</th>
              <th>Estado</th>
              <th>Ativo</th>
              <th></th>
            </tr>
            <!-- end tr -->
          </thead>
          <!-- end thead -->
          <tbody>
            {% for object in object_list %}
            <tr>
              <td>
                <div class="form-check">
                  <input class="form-check-input font-size-16" type="checkbox" value="" id="flexCheckexampleone">
                  <label class="form-check-label" for="flexCheckexampleone">
                  </label>
                </div>
              </td>
              <td class="fw-medium">
                {{ object.codigo }}
              </td>
              <td>
                <a href="{{ object.get_absolute_url }}">{{ object.nome }}</a>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <!-- Imagem do produto -->
                  <!--
                                  <div class="me-2">
                                      <img src="assets/images/users/avatar-2.jpg" class="avatar-sm img-thumbnail h-auto rounded-circle" alt="Error">
                                  </div>
                                  -->
                  <div>
                    <h5 class="font-size-14 text-truncate mb-0">{{ object.razao_social }}
                    </h5>
                  </div>
                </div>
              </td>
              <td>
                {{ object.nome_fantasia }}
              </td>

              <td>
                {{ object.address }}
              </td>
              <td>
                {{ object.district }}
              </td>
              <td>
                {{ object.city }}
              </td>
              <td>
                {{ object.uf }}
              </td>
              <td>
                <div class="d-flex">
                  <div class="me-2">
                    {% if object.active %}
                    <i class="mdi mdi-check-circle-outline text-success"></i>
                    <a href="{% url 'orcamento:orcamento_create' object.pk %}">
                      
                    </a>
                    {% else %}
                    <i class="mdi mdi-close-circle-outline text-danger"></i>
                    {% endif %}
                  </div>
                </div>
              </td>
              <td>
                <div class="dropdown">
                  <a href="#" class="dropdown-toggle card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-dots-horizontal font-size-18 text-muted"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a href="#" class="dropdown-item"><i class="mdi mdi-pencil font-size-16 text-success me-1"></i>
                        Edit</a></li>
                    <li><a href="#" class="dropdown-item"><i
                          class="mdi mdi-trash-can font-size-16 text-danger me-1"></i>
                        Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            {% endfor %}
            <!-- end /tr -->
          </tbody><!-- end tbody -->
        </table><!-- end table -->
      </div>
    </div>
  </div>
</div>
{% endblock content %}