{% extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}

{% block content %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-2">
    <h2>Cadastrar Produto</h2>
    <div class="container-fluid">
      <form method="POST">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-sm">
            <label>Código</label>
            {% render_field form.codigo class="form-control" %}
          </div>
          <div class="form-group col-sm">
            <label>{{form.id_grupo.label}}</label>
            {% render_field form.id_grupo class="form-control" %}
          </div>
          <div class="form-group col-sm">
            <label>{{form.id_marca.label}}</label>
            {% render_field form.id_marca class="form-control" %}
          </div>
          <div class="form-group col-md-12">
            <label>{{form.nome.label}}</label>
            {% render_field form.nome class="form-control" %}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md">
            <label>{{form.valor_Compra.label}}</label>
            {% render_field form.valor_Compra class="form-control" %}
          </div>
          <div class="form-group col-md">
            <label>{{form.valor_Locacao.label}}</label>
            {% render_field form.valor_Locacao class="form-control" %}
          </div>
          <div class="form-group col-md">
            <label>{{form.estoque_minimo.label}}</label>
            {% render_field form.estoque_minimo class="form-control" %}
          </div>
          <div class="form-group col-md">
            <label for="inputAddress">Quantidade Estoque</label>
            {% render_field form.qnt_estoque class="form-control" %}
          </div>
          <div class="form-group col-md">
            <label for="inputAddress">Quantidade Total</label>
            {% render_field form.estoque_total class="form-control" %}
          </div>
        </div>

        <div class="form-group">
          <div class="form-check">
            {% render_field form.checkbox class='form-check-input' type='checkbox' %}
            <label class="form-check-label" for="gridCheck">
              Desativar
            </label>
          </div>
        </div>

        {{ formset.management_form }}

        <div class="row">
          <div class="col-sm-12">

            <legend class="legend">Patrimonio</legend>
            <div class="row">
              <button
                id="addItem"
                class='btn btn-primary mb-2'
                hx-get="{% url 'produto:add_row_produto_items_hx' %}"
                hx-target="#produto"
                hx-swap="beforeend"
              >Adicionar</button>
            </div>

            <div id="produto">

              {% for produto_item_form in formset %}
                <div class="row">
                  <div class="form-group">
                    <div id="item-{{ forloop.counter0 }}">
                      {% render_field produto_item_form.produto data-field='produto' %}
                      {{ produto_item_form.id }}

                      {{ produto_item_form.patrimonio.label }}
                      {% render_field produto_item_form.patrimonio class="form-control" data-field='patrimonio' %}
                    </div>
                  </div>
                </div>
              {% endfor %}

            </div>

          </div>
        </div>

        <div class="row  mt-4">
          <button class='btn btn-primary' type="submit">Salvar</button>
          <button type="button" class="btn btn-danger">Cancelar</button>
        </div>

      </form>
    </div>
  </div>
  </main>
{% endblock content %}

{% block script %}
  <script src="{% static 'js/main.js' %}"></script>

  <script>
    // Necessário por causa do delete
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });
  </script>

{% endblock script %}
