{% extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}

{% block content %}
  <h4>Cadastrar Produto</h4>
  <form action="." method="POST">
    {% csrf_token %}

    <div class="form-row">
      <div class="row">
        {% for field in form.visible_fields %}
          <div class="form-group col-sm-3">
            <label>{{ field.label }}</label>
            {% render_field field class="form-control" %}
            {% for error in field.errors %}
              <span class="text-muted">{{ error }}</span>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>

    {{ formset.management_form }}

    <div class="row">
      <div class="col-sm-12">
        <legend class="legend">Número de controle</legend>
        <div>
          <button
            id="addItem"
            class='btn btn-primary mb-2'
            hx-get="{% url 'produto:add_row_produto_items_hx' %}"
            hx-target="#produto"
            hx-swap="beforeend"
          >Adicionar</button>
        </div>
      </div>
    </div>

    <div id="produto">

      {% for produto_item_form in formset %}
        <div class="row d-flex align-items-end">
          <div class="col-md-6">
            <div id="item-{{ forloop.counter0 }}" class="form-group">
              {% render_field produto_item_form.produto data-field='produto' %}

              <label>{{ produto_item_form.titulo.label }}</label>
              {% render_field produto_item_form.titulo class="form-control" data-field='titulo' %}
            </div>
          </div>
          <div class="col-md-6">
            <span class="span-is-link no ml-2" onclick="removeRow()">
              <i class="fa fa-times fa-lg"></i>
            </span>
          </div>
        </div>
      {% endfor %}

    </div>

    <div class="mt-4">
      <button class='btn btn-primary' type="submit">Salvar</button>
      <button type="button" class="btn btn-danger">Cancelar</button>
    </div>

  </form>
{% endblock content %}

{% block js %}
  <script src="{% static 'js/produto.js' %}"></script>

  <script>
    // Necessário por causa do delete
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });
  </script>

{% endblock js %}
