{% load static %}

<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a href="index.html" class="logo logo-dark">
          <span class="logo-sm">
            <img src={% static '/img/logo-sm.png' %} alt="" height="22">
          </span>
          <span class="logo-lg">
            <img src={% static '/img/logo-dark.png' %} alt="" height="22">
          </span>
        </a>

        <a href="index.html" class="logo logo-light">
          <span class="logo-sm">
            <img src={% static '/img/logo-sm.png' %} alt="" height="22">
          </span>
          <span class="logo-lg">
            <img src={% static '/img/logo-light.png' %} alt="" height="22">
          </span>
        </a>
        <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item" data-bs-toggle="collapse"
        data-bs-target="#topnav-menu-content">
        <i class="fa fa-fw fa-bars"></i>
      </button>
      </div>
        <div class="topnav">
            <nav class="navbar navbar-light navbar-expand-sm topnav-menu mt-2">
              <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle arrow-none" href="." id="topnav-dashboard" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon nav-icon" data-feather="monitor"></i>
                      <span data-key="t-dashboards">Dashboards</span>
                      <div class="arrow-down"></div>
                    </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle arrow-none" href="{% url 'orcamento:orcamento_list' %}"
                      id="topnav-components" role="button">
                      <i class="icon nav-icon" data-feather="layers"></i>
                      <span data-key="t-components">Orçamentos</span>
                      <div class="arrow-down"></div>
                    </a>
                  </li>
  
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button">
                      <i class="icon nav-icon" data-feather="grid"></i>
                      <span data-key="t-apps">Cadastros</span>
                      <div class="arrow-down"></div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="topnav-pages">
                      <a href={% url 'crm:cliente_list' %} class="dropdown-item" data-key="t-calendar">Clientes</a>
                      <a href={% url 'crm:fornecedor_list' %} class="dropdown-item" data-key="t-chat">Fornecedores</a>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="{% url 'produto:produto_list' %}"
                          id="topnav-uielement" role="button" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                          <i class="icon nav-icon" data-feather="package"></i>
                          <span data-key="t-elements">Produtos</span>
                          <div class="arrow-down"></div>
                        </a>
                      </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-more" role="button">
                            <i class="icon nav-icon" data-feather="file"></i>
                            <span data-key="t-extra-pages">Relatórios</span>
                            <div class="arrow-down"></div>
                          </a>
                        </li>
                      </div>
              </ul>
          </div>
          </nav>
      </div>
      <div class="dropdown d-inline-block language-switch">
        <button type="button" class="btn header-item" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img id="header-lang-img" src={% static 'img/flags/pt-br.jpg' %} alt="Header Language" height="16">
        </button>
        <div class="dropdown-menu dropdown-menu-end">
          <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="eng">
            <img src={% static 'img/flags/us.jpg' %} alt="user-image" class="me-1" height="12"> <span
              class="align-middle">English</span>
          </a>
        </div>
      </div>
      
      <div class="dropdown d-none d-lg-inline-block">
        <button type="button" class="btn header-item noti-icon" data-bs-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="icon-sm" data-feather="grid"></i>
        </button>
      </div>
    
      <div class="dropdown d-inline-block">
        <button type="button" class="btn header-item noti-icon" id="page-header-notifications-dropdown"
          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="icon-sm" data-feather="bell"></i>
          <span class="noti-dot bg-danger"></span>
        </button>
      </div>
    
      <div class="dropdown d-inline-block">
        <button type="button" class="btn header-item noti-icon right-bar-toggle" id="right-bar-toggle">
          <i class="icon-sm" data-feather="settings"></i>
        </button>
      </div>
    
      <div class="dropdown d-inline-block">
        <button type="button" class="btn header-item user text-start d-flex align-items-center"
          id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="rounded-circle header-profile-user" src={% static 'img/users/avatar-1.jpg' %} alt="Header Avatar">
          <span class="ms-2 d-none d-sm-block user-item-desc">
            <span class="user-name">{{user.first_name}}</span>
            <span class="user-sub-title">{{user.email}}</span>
          </span>
        </button>
        <div class="dropdown-menu dropdown-menu-end pt-0">
          <div class="p-3 bg-primary border-bottom">
            <h6 class="mb-0 text-white">{{user.first_name}}</h6>
            <p class="mb-0 font-size-11 text-white-50 fw-semibold">{{user.email}}</p>
          </div>
          {% if request.user.is_authenticated %}
          <a class="dropdown-item" href="{% url 'logout' %}"><i
              class="mdi mdi-logout text-muted font-size-16 align-middle me-1"></i> <span
              class="align-middle">Sair</span></a>
          {% endif %}
    
        </div>
      </div>

  </div>

</header>
