<div class="table-responsive mt-lg-3">
    {% csrf_token %}
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Código</th>
                <th>Tipo</th>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Valor locação</th>
            </tr>
        </thead>
        <form action="" method="post">
            {% csrf_token %}
            {{form}}
        </form>
        {% include "orcamento_list.html" %}

    </table>
</div>