{% load widget_tweaks %}
<tr>
<th id="item-{{ forloop.counter0 }}">
      {% render_field orcamento_item_form.orcamento data-field='orcamento' %}
<th>
  {{ orcamento_item_form.produto.label }}
      {% render_field orcamento_item_form.produto  data-field='produto' %}
</th>  
    
</th> 
<th>
    {{ orcamento_item_form.patrimonio.label }}
    {% render_field orcamento_item_form.patrimonio data-field='patrimonio' %}
</th>
<th>
    {{ orcamento_item_form.valor.label }}
    {% render_field orcamento_item_form.valor data-field='valor' %}
</th>
<th>
  
</th>
<th>
    {{ orcamento_item_form.periodo.label }}
    {% render_field orcamento_item_form.periodo data-field='periodo' %}
</th>

<th>
    <span class="span-is-link no ml-2" onclick="removeRow()">
      <i class="fa fa-times fa-lg"></i>
    </span>
</th>

</tr>