{% extends 'site2/base.html'%}
{% load static %}



{% block context %}
  <!-- Begin page -->
  <div id="layout-wrapper">
    {% include "site2/navbar.html" %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

      <div class="page-content">
        <div class="container-fluid">

          <!-- start page title -->
          {% block cliente_form %}
          {% endblock cliente_form %}

          {% block client_list %}
          {% endblock client_list %}

          {% block content %}
          {% endblock content %}

          {% block fornecedores_list %}
          {% endblock fornecedores_list %}

          {% block orcamento_form %}
          {% endblock orcamento_form %}

          {% block orcamento_list %}
          {% endblock orcamento_list %}

        </div> <!-- container-fluid -->
      </div>
      <!-- End Page-content -->


      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <script>document.write(new Date().getFullYear())</script> &copy; LocaTools
            </div>
            <div class="col-sm-6">
              <div class="text-sm-end d-none d-sm-block">
                <!-- Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="" target="_blank" class="text-reset">Pichforest</a> -->
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- end main content-->

  </div>
  <!-- END layout-wrapper -->
{% endblock context %}

